<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/about_style.css" />
    <title>About Us</title>
  </head>
  <body>
    <div class="header">
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <div class="homepage">
              <a class="main-nav-link main-nav-link-lc" href="/">Home</a>
            </div>
          </li>
        </ul>
      </nav>

      <div class="content">
        <h1>ABOUT US</h1>
        <h1>ABOUT US</h1>
      </div>
      <p>"Your Health is Our Priority: Learn More About Our Practice"</p>
    </div>

    <div class="card1">
      <!-- <h1>What we do ?</h1> -->
      <div class="content-container">
        <p>
          Welcome to the Medicare website! Our website offers a wide range of
          services to help you manage your healthcare needs conveniently and
          efficiently.Medicare requires users to create an account and log in to
          access the information of our services.We understand that scheduling
          an appointment with a doctor can be time-consuming and challenging.
        </p>
        <p>
          That's why we have made it easy for you to book appointments with
          doctors in your area. Simply log in to your account, search for
          available doctors in your area, and book an appointment that fits your
          schedule.Stay informed about the latest developments in healthcare by
          reading our blogs. Our expert writers cover a wide range of topics
          related to healthcare, including wellness tips, mental health,
          nutrition, and more.
        </p>
        <p>
          You can browse through our library of articles and read the ones that
          interest you. In an emergency, it's essentialto know the location of
          the nearest hospital or pharmacy. You can use our website to find
          hospitals and pharmacies in your area quickly. Simply enter your
          location, and we'll show you the nearest healthcare facilities.At
          Medicare, we're committed to making healthcare easy and accessible for
          everyone. Our website is designed to help you manage your healthcare
          needs conveniently and efficiently. Whether you're booking an
          appointment with a doctor, reading our blogs, or finding a hospital or
          pharmacy in your area, we're here to help. Thank you for choosing
          Medicare!
        </p>
      </div>
    </div>
  </body>
</html>
