<!-- views/admin.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Admin Approval Page</title>
    <link rel="stylesheet" href="/css/admin_verif_style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
      />
  </head>
  <body style=" background-color: #f6f1f1;">


    <div class="logo-div">
      <a href="/"><img style="margin-left: 10px;" src="images/Medicare.png" alt="" /></a>
      <h1>Registration Requests</h1>
      <a href="/hospital" id="home-link">BACK</a>
    </div>



    <form action="/" method="post">
      <label for="registrationType">Registration Type:</label>
      <select id="registrationType" name="registrationType" style="padding: 7px;
        font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
        <option value="all">All</option>
        <option value="doctors">Doctors</option>
        <option value="hospitals">Hospitals</option>
        <option value="pharmacies">Pharmacies</option>
      </select>
      <button type="submit">Filter</button>
    </form>



  
    <table>
      <tr style="text-align: center;">
        <th>ID</th>
        <th>Name</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
      <% Registrations.forEach(registration=> { %>
        <tr>
          <td style="text-align: center;"><%= registration._id %></td>

            <td style="text-align: center;"><%= registration.name %></td>


              <td>
                <form action="/approve/<%= registration._id %>"
                  method="post">

                  <button type="button" class="btn btn-outline-success">Approve</button>
                </form>
              </td>



              <td>
                <form action="/reject/<%= registration._id %>"
                  method="post">
                  <!-- <button type="submit" style="background-color: #dc3545;
                    color: #fff; ">Reject</button> -->
                  <button type="button" class="btn btn-outline-danger">Reject</button>
                </form>
              </td>

            </tr>
            <% }) %>
            </table>
                     
          </body>

        </html>
