<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doc_login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
    <title>Doctor Login</title>
</head>

<body style="background-color: #f6f1f1;">
    <img src="./images/Medicare.png" alt="">
    <main>
        <h1>Login Page</h1>
        <form action="/doc_home" method="post">
            <input type="email" name="email" id="doc_email" placeholder="Registered Email" required>
            <input type="password" name="password" id="doc_pass" placeholder="Your Password" required>
            <button type="submit">Submit</button>
        </form>
    </main>

</body>

<script>
    const form = document.querySelector('form');
    const emailInput = document.querySelector('#doc_email');
    const passwordInput = document.querySelector('#doc_pass');

    const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

    const emailError = document.createElement('span');
    emailError.classList.add('error');
    emailInput.insertAdjacentElement('afterend', emailError);

    const passwordError = document.createElement('span');
    passwordError.classList.add('error');
    passwordInput.insertAdjacentElement('afterend', passwordError);

    function validateEmail() {
        if (!emailRegex.test(emailInput.value)) {
            emailError.textContent = 'Invalid email address';
            return false;
        } else {
            emailError.textContent = '';
            return true;
        }
    }

    function validatePassword() {
        if (!passwordRegex.test(passwordInput.value)) {
            passwordError.textContent = 'Invalid password';
            return false;
        } else {
            passwordError.textContent = '';
            return true;
        }
    }

    form.addEventListener('submit', (e) => {
        if (!validateEmail() || !validatePassword()) {
            e.preventDefault();
        }
    });
</script>



</html>