<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doc_login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Doctor Login</title>
</head>

<body style="background-color: #f6f1f1;">
    <img src="./images/Medicare.png" alt="">
    <main>
        <h1>Login Page</h1>
        <form action="/doc_home" method="post">
            <input type="email" name="email" id="doc_email" placeholder="Registered Email" required>
            <input type="password" name="password" id="doc_pass" placeholder="Your Password" required>
            <button type="submit">Submit</button>
        </form>
    </main>

</body>

</html>