<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Registration</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/hosp_reg.css">
</head>
<body style="background-color: #f6f1f1;">

    <div class="logo-div">
        <a href="/"><img src="images/Medicare.png" alt="" /></a>
        <a href="/hospital" id="home-link">BACK</a>
    </div>

    <div class="container-css">
        <div class="form_div">
            <form action="/hospital_reg" method="post">
                <h1 id="Heading">Hospital Registration Form</h1>

                <label for="hospitalName">Hospital Name:</label>
        <input type="text" id="hospitalName" name="hospitalName" pattern="[A-Za-z\s.'-]+" title="Please enter alphabetic characters, spaces, full stops, apostrophes, and hyphens only" required>

                <span class="error-message" id="hospitalNameError"></span>

                <label for="location">Location:</label>
              <input type="text" id="location" name="location" pattern="[A-Za-z0-9\s,:]+"
 title="Please enter a valid address including alphabetic characters, digits, spaces, commas, and colons" required>

                <span class="error-message" id="locationError"></span>

                <label for="contactNumber">Contact Number:</label>
                <input type="tel" id="contactNumber" name="contactNumber" pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number" required>
                <span class="error-message" id="contactNumberError"></span>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="num_doct">Number of Doctors:</label>
                <input type="text" id="numDoctors" name="numDoctors" pattern="^[1-9]\d*$" title="Please enter a valid number of doctors (greater than 0)" required>
                <span class="error-message" id="numDoctorsError"></span>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <script src="./js/hosp_reg.js"></script>
    <script src="pages.js"></script>
    <script src="./../index.js"></script>

</body>
</html>
