<!DOCTYPE html>
<html>
    <head>
        <title>Pharmacy Registration</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
            rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/hosp_reg.css">
    </head>
    <body style="background-color: #f6f1f1;">

        <div class="logo-div">
            <a href="/"><img src="images/Medicare.png" alt="" /></a>
            <a href="/hospital" id="home-link">BACK</a>
        </div>

        <div class="container-css">
            <form action="/pharmacy_registration" method="post">
                <h1 id="Heading">Pharmacy Registration Form</h1>

                <label for="pharmacyName">Pharmacy Name:</label>
                <input type="text" id="pharmacyName" name="pharmacyName" pattern="[A-Za-z\s.'-]+" title="Please enter alphabetic characters, spaces, full stops, apostrophes, and hyphens only" required>
                <span class="error-message" id="pharmacyNameError"></span>
                   
                <label for="location">Location:</label>
              <input type="text" id="location" name="location" pattern="[A-Za-z0-9\s,:]+"
 title="Please enter a valid address including alphabetic characters, digits, spaces, commas, and colons" required>

                <span class="error-message" id="locationError"></span>

                <label for="contactNumber">Contact Number:</label>
                <input type="tel" id="contactNumber" name="contactNumber"
                    pattern="[0-9]{10}" title="Please enter a valid 10-digit
                    phone number" required>
                <span class="error-message" id="contactNumberError"></span>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <span class="error-message" id="emailError"></span>

                <label for="numEmployees">Number of Employees:</label>
                <input type="text" id="numEmployees" name="numEmployees"
                    pattern="^[1-9]\d*$" title="Please enter a valid number of
                    doctors (greater than 0)" required>
                <span class="error-message" id="numEmployeesError"></span>

                <label for="medicines">Medicines Available:</label>
                <% Drugs.forEach((drug)=> { %>
                    <input type="checkbox" id="<%= drug.name %>" class="drugs"
                    name="medicines" value="<%= drug.name %>">
                        <label for="<%= drug.name %>"><%= drug.name %></label>
                            <% }) %>


                                <button type="submit">Register</button>
                            </form>
                        </div>
                        <script src="/js/pharmacy_registration.js"></script>
                        <!-- Include your JavaScript file path here -->
                        <script src="pages.js"></script>
                        <script src="./../index.js"></script>

                    </body>
                </html>
