<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/style_home_page.css" rel="stylesheet" />
    <link href="css/hospital_card.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img
          src="./images/Medicare.png"
          class="logo"
          alt="header-logo"
        />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="#footer">Contact us</a></li>
          <li>
            <a class="main-nav-link main-nav-link-lc" href="/"
              >Home</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="Hospital-cards">
        <div class="container grid grid--3--cols">
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>DRUG POINT</h2></div>
              <div class="address-hospital">
                <p>Address : Drug point , Sricity</p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999999</p></div>
              <div class="email-id-hoapital">
                <p>Email : drugpoint@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>MED 27</h2></div>
              <div class="address-hospital">
                <p>Address : Med27 , Sricity</p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999998</p></div>
              <div class="email-id-hoapital">
                <p>Email : med27@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>NAHAN PHARMECY</h2></div>
              <div class="address-hospital">
                <p>Address : Nahan Pharmecy </p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999997</p></div>
              <div class="email-id-hoapital">
                <p>Email : nahan@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>HEALTH MEDS</h2></div>
              <div class="address-hospital">
                <p>Address : HEALTH MEDS , Sricity</p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999996</p></div>
              <div class="email-id-hoapital">
                <p>Email : healthmeds@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>NEEL PHARMECY</h2></div>
              <div class="address-hospital">
                <p>Address : Neel Pharmecy, Sricity</p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999995</p></div>
              <div class="email-id-hoapital">
                <p>Email : NeelFarms@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
          <figure class="card">
            <div class="card-img">
              <img
                src="./images/Hospital_how_it_work.jpg"
                class="hospital_card-img"
              />
            </div>
            <div class="card-text">
              <div class="hospital-name"><h2>SHIV PHARMS</h2></div>
              <div class="address-hospital">
                <p>Address : Shiv pharmecy , Sricity</p>
              </div>
              <div class="contact-detail"><p>Phone no. : 9999999994</p></div>
              <div class="email-id-hoapital">
                <p>Email : shivpharmecy@gmail.com</p>
              </div>
              <div class="available_med align_center-c">
                <div class="align_center">
                  <a class="pharmacy_btn" href="#login_id"
                    >Medicines Available</a
                  >
                </div>
              </div>
            </div>
          </figure>
        </div>
      </section>
      <footer class="footer" id="footer">
        <div class="container grid grid-footer">
          <div class="logo-col">
            <a href="/" class="footer-logo">
              <img
                alt="logo"
                src="./images/Header_logo.png"
                class="logo"
              />
            </a>
            <ul class="social-links">
              <li>
                <a class="footer-link href="#"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a>
              </li>
              <li>
                <a class="footer-link href="#"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a>
              </li>
              <li>
                <a class="footer-link href="#"><ion-icon class="social-icon" name="logo-twitter"></ion-icon></a>
              </li>
            </ul>
            <p class="copy-right">
              Copyright &copy; 2023 by Medicare, Inc.All rights are reserved.
            </p>
          </div>
          <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
              <p class="address">623 Star streets St., 2nd Floor, New Delhi</p>
              <p>
                <a class="footer-link" href="tel:415-201-6370">415-201-6370</a><br />
                <a class="footer-link" href="mailto:hello@omnifood.com">hello@medicare.com</a>
              </p>
            </address>
            
          </div>
          <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="/about_page">About Medicare</a></li>
              <li><a class="footer-link" href="/hospital">Near by hospitals</a></li>
              <li><a class="footer-link" href="/pharmecy">Near by pharmacies</a></li>
  
            </ul>
          </nav>
        </div>
      </footer>
    </main>
  </body>
</html>
