<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registraion page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style_home_page.css" />
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img src="/images/Medicare.png" class="logo" alt="header-logo" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="/">Home</a>
          </li>
          <li>
            <a class="main-nav-link main-nav-link-lc" href="/login">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="section-cta" style="height: 100vb">
      <div class="container">
        <div id="login_id" class="cta">
          <div class="cta-text-box">
            <div class="cta-img-box" role="img" aria-label="login img"></div>
            <h2 class="heading-secondary">Become a part of our family</h2>
            <p class="cta-text">
              Welcome! We invite you to join our community and become a part of
              our family. By creating an account and logging in, you'll gain
              access to a variety of benefits and opportunities.
            </p>
            <form class="cta-form" id="form">
              <div>
                <label class="cta-label" for="fullname">Full name</label>
                <input
                  id="fullname"
                  type="text"
                  placeholder="Anjali kumari"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="email">Email address</label>
                <input
                  id="email"
                  type="email"
                  placeholder="me@gmail.com"
                  aria-describedby="emailHelp"
                  required
                />
              </div>

             
              <div>
                <label class="cta-label" for="age"
                  >Age</label
                >
                <input
                  id="age"
                  type="intger"
                  placeholder="should be greater then -1"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="address"
                  >Address</label
                >
                <input
                  id="address"
                  type="text"
                  placeholder="ABXC XYSJHBA"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="phone_num_1"
                  >Phone number</label
                >
                <input
                  id="phone_num_1"
                  type="intger"
                  placeholder="9999999999"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="phone_num_2"
                  >Phone number</label
                >
                <input
                  id="phone_num_2"
                  type="intger"
                  placeholder="9999999999"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="gender">Gender</label>
                <select id="gender" >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
                <br /><br />
              </div>
              <div>
                <label class="cta-label" for="role">Role</label>
                <select id="role" >
                  <option value="patient">Patient</option>
                  <option value="admin">Admin</option>
                  <option value="doctor">Doctor</option>
                </select>
                <br /><br />
              </div>
              <div>
                <label class="cta-label" for="Password">Password</label>
                <input
                  id="password"
                  type="password"
                  placeholder="gnk7bfg89456/*"
                  required
                />
              </div>
              <div>
                <label class="cta-label" for="confirm_password"
                  >Confirm Password</label
                >
                <input
                  id="confirm_password"
                  type="password"
                  placeholder="gnk7bfg89456/*"
                  required
                />
              </div>

              <div class="btn btn-form " id="submit_btn">Sign up now</div>
              <div
                class="alert alert-danger"
                role="alert"
                id="error"
                style="
                  display: none;
                  background-color: rgba(255, 0, 0, 0.318);
                  color: white;
                  width: 100%;
                  padding: 1.2rem;
                  font-size: 1.8rem;
                  font-family: inherit;
                  border: none;

                  border-radius: 9px;
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                "
              ></div>
              <div
                class="alert alert-success"
                role="alert"
                id="success"
                style="
                  display: none;
                  background-color: rgba(172, 255, 47, 0.325);
                  color: white;
                  width: 100%;
                  padding: 1.2rem;
                  font-size: 1.8rem;
                  font-family: inherit;
                  border: none;

                  border-radius: 9px;
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                "
              ></div>
            </form>
          </div>
          <div class="cta-img-box" role="img" aria-label="signup page"></div>
        </div>
      </div>
    </section>

    <script src="/js/register.js"></script>
  </body>
</html>

  </body>
</html>
