<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrations.css"/>
    <link rel="stylesheet" href="/css/style_home_page.css"
</head>
<body>
    <header class="header">
        <a href="#">
          <img src="/images/Medicare.png" class="logo" alt="header-logo" />
        </a>
        
        <li>
            <a class="main-nav-link main-nav-link-lc" href="/">
              Home
            </a>
          </li>
      </header>
      <section class="register">
        <div class="cont">
        <diV class="cont-c"><a>Regiatraion for new doctors</a></diV>
        <diV class="cont-c"><a>Regiatraion for new hospitals</a></diV>
        <diV class="cont-c"><a>Regiatraion for new pharmacies</a></diV>
        <diV class="cont-c"><a>Regiatraion for new admin</a></diV>

    </div>
      </section>

    
</body>
</html>