<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/success.css" />
    <title>Success Page</title>
  </head>

  <body>
    <div class="loader-wrapper">
      <img src="./images/css-loader-spinner-animation-1.svg" alt="" />
    </div>

    <div class="successmsg">
      <div class="flex">
        <a href="/"
          ><img src="./images/Header_logo.png" alt="" id="logo-img"
        /></a>

        <a href="/" id="home-link">Return Home</a>
      </div>

      <img src="./images/success-1.jpg" alt="" id="success-img" />
      <h1>Your Appointment is booked</h1>
      <p>A Message has been sent to your registered Email id</p>
    </div>

    <script src="./js/success.js"></script>
  </body>
</html>
