body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f1f1;
}

.logo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-color{
        background-color: #f6f1f1;
}


#home-link{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color:#4723fbd7;
    margin-right: 40px;
}

#home-link:hover{
    background-color:#4723fb;
}
label{
font-family: inherit;
 font-size: 1rem;
  font-weight: 550;
margin-left: 500px;
  
}

h1 {
  text-align: center;
  margin-top: 40px;
}

form {
  text-align: center;
  margin-top: 10px;
}

select {
  padding: 6px;
  font-size: 16px;

 
}

button[type="submit"] {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 450;
  background-color: #4723fbd7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  font-family: inherit;
}

table {
  margin: 40px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 10px;
  text-align: left;
}

th {
  background-color: #4723fbd7;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

a {
  color: #4723fbd7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#approve {
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 450;
    background-color: #28a745 ;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    font-family: inherit;
   
  }
#approved {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 450;
    background-color: #81c77f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 38px;
    font-family: inherit;
  }

 #reject{
   padding: 8px 25px;
     font-size: 1rem;
    font-weight: 450;
    background-color:#dc3545 ;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    font-family: inherit;
  }
   #rejected{
     padding: 8px 16px;
     font-size: 1rem;
    font-weight: 450;
    background-color:#858e95 ;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 45px;
    font-family: inherit;
  }