.card {
  width: 95%;
  box-shadow: 0 2.4rem 4.8rem rgba(27, 20, 128, 0.25);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 18px;
  overflow: hidden;
  margin-top: -28px;
}

.main-nav-link{
 padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #4823fc;
  

}

.hospital_card-img {
  width: 100%;
  align-self: center;
  margin-bottom: -25px;
}

.pharmacy_card-img{
    width: 85%;
  align-self: center;
  margin-bottom: -60px;
  margin-top: -20px;
  margin-left: 16px;
   margin-bottom: -20px;

}

.Hospital-cards {
  padding: 5rem 5rem;
}

.card-text-hospital {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #333;
  /* margin-top: -10px; */
}

.card-text-pharmacy{
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: #333;
  margin-top: -10px;
}

.hospital-name h1{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #4823fc;
}

.medicine-name h1{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #4823fc;
}
.heading{
  margin-left: 450px;
  margin-top: 30px;
  padding: 5px;
  margin-bottom: 20px;
}
.med_card-img {
  width: 100%;
  align-self: center;
  margin-bottom: -25px;
}
.heading h1{
   font-size: 3rem;
}
.card-text-price{
  font-size: 1.8rem;
  font-weight: 600;
  color: #42a411;
  margin-left: 60px;
}
.card-medicines{

  width: 95%;
  box-shadow: 0 2.4rem 4.8rem rgba(27, 20, 128, 0.25);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 18px;
  overflow: hidden;
  margin-top: -28px;
}
.card-text{
  font-size: 1.3rem;
  font-weight: 600;
  /* color: #42a411; */
  margin-left: 40px;

}

.address-hospital {
  font-weight: 600;
  font-size: 1.8rem;
  color: #5f5f5f;
}

.contact-detail {
  font-weight: 600;
  font-size: 1.8rem;
  color: #5f5f5f;
}

.email-id-hospital {
  font-weight: 600;
  font-size: 1.8rem;
  color: #5f5f5f;
}

.noOfDoctors{
 
  font-weight: 600;
  font-size: 1.8rem;
  color: #5f5f5f;
}

.align_center {
  width: 100%;
  padding: 1rem;
  background-color: #4823fc;
  text-align: center;
  border-radius: 12px;
}


.pharmacy_btn {
  text-decoration: none;
  text-align: center;
  color: #eee;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: -10px;
  background-color: #4823fc;
  border-radius: 7px;
  padding: 7px;
  margin-left: 10px;
}

.pharmacy_btn:hover{
  background-color:#425ff0;
  color: #eee;
}


.align_center:hover {
  background-color: #425ff0;
}

search-box{
    position: relative;
    margin-left: -5px;
 
}

#search:focus {
  outline: none;
  box-shadow: none;
}

.search-box input{
    width: 35vw;
    height: 60px;
    border: 2px solid #425ff0;
    font-size: larger;
    text-indent: 70px;
    outline: none;
    background-color: #FFFFFF;
    margin-right: 0;
}

.search-box i{
    position: absolute;
    top: 42px;
    margin-left: 2px;
    color: #425ff0;
 
    margin-left: 15px;
}



.search-box span{
  margin-left: -5px;
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 17.5px;
    padding-bottom: 16px;
    background-color: #425ff0;
   font-size: 1.6rem;
  font-weight: 500;
}


input[type="text"] {
  font-size: 17.5px;
  font-family: Arial;
}

.submitBtn {
  border: none;
}
.submitBtn:focus{
  box-shadow: none;
}

.card-text{
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #333;
  margin-top: -10px;
}