.error-message {
           font-size: small;
             color: rgb(199, 0, 0);
        }

     
    .checkbox-group {
        display: flex;
        flex-direction: column;
    }

    .checkbox-item {
        display: flex;
        align-items: center;
      
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

.drugs{
  margin-bottom: -40px;
}