.register{
    margin: 30px;

}

.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :30px


}

.cont-c{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;

    background-color: rgba(0, 0, 255, 0.679);
    color: white;
}

a:hover{
    font-size: 22px;
    
}